@import "../../base/Variables";

.finder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .Container {
    width: 1100px;
    height: 550px;
    border-radius: 20px;
    .items {
      display: flex;
      justify-content: space-between;
      .left {
        width: 25%;
        height: 550px;
        background-color: $Rectangle_Background;
        border-radius: 20px 0 0 20px;
        .close_img {
          margin: 15px;
        }
        .content {
          display: flex;
          flex-direction: column;
          gap: 15px;
          margin: 15px;
          p {
            margin: 10px;
            font-size: 15px;
            transition: 0.3s;
            &.selected {
              display: flex;
              align-items: center;
              width: 190px;
              height: 30px;
              font-weight: bold;
              color: white;
              border-radius: 5px;
              background-color: $Selected_Item;
              padding-left: 10px;

              &:hover {
                color: white;
                padding-left: 10px;
                cursor: default;
              }
            }

            &:hover {
              color: $Selected_Item;
              padding-left: 10px;
              cursor: pointer;
            }
          }

          span {
            color: rgba(0, 0, 0, 0.25);
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center horizontally */
        justify-content: center; /* Center vertically */
        width: 75%;
        background-color: $WhiteCustom;
        border-radius: 0 20px 20px 0;
      }
    }
  }
}
