@import "../../base/Variables.scss";
.Settings_Container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .Container {
    width: 1100px;
    height: 550px;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    .item {
      display: flex;
      justify-content: space-between;
      .sepa {
        width: 3px;
        height: 550px;
        background-color: #929292c7;
      }
      .left {
        width: 25%;
        height: 550px;
        background-color: $Rectangle_Background;

        backdrop-filter: blur(50px);
        border-radius: 20px 0 0 20px;
        img {
          margin: 15px;
        }
        input[type="search"] {
          display: flex;
          align-items: start;
          margin-left: 15px;
          border: none;
          width: 70%;
          height: 20px;
          background-color: $Placeholder_Input_Login;
          padding-left: 15px;
          border-radius: 5px;
          &::placeholder {
            width: 100%;
          }
          &:focus {
            outline: none;
          }
        }
        .user {
          display: flex;
          align-items: center;
          .info {
            color: white;
          }
        }
        .maj {
          margin-left: 15px;
          color: $Text_List;
          position: relative;

          .notific {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: red;
            color: white;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            text-align: center;
            position: absolute;
            top: 0px;
            right: 35px;
          }
        }

        .item {
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-left: 15px;
          margin-top: 20px;
          p {
            color: $Text_List;
            margin-bottom: 15px;
            transition: 0.3s;

            &.selected {
              display: flex;
              align-items: center;
              width: 190px;
              height: 30px;
              font-weight: bold;
              color: white;
              border-radius: 5px;
              background-color: $Selected_Item;
              padding-left: 10px;

              &:hover {
                color: white;
                padding-left: 10px;
                cursor: default;
              }
            }

            &:hover {
              color: $Selected_Item;
              padding-left: 10px;
              cursor: pointer;
            }
          }

          .res {
            .reseau {
              display: flex;
              align-items: center;
            }
          }
          .notif {
            .notifi {
              display: flex;
              align-items: center;
            }
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        width: 75%;
        background-color: $WhiteCustom;
        backdrop-filter: blur(50px);
        border-radius: 0 20px 20px 0;

        .network {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-direction: column;
          gap: 50px;
          h1 {
            margin-bottom: 10px;
          }
          .hotspots {
            .cadre {
              width: 575px;
              height: 42px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              border-radius: 10px;
              border: 2px solid #ffffff;
              background: rgba(0, 0, 0, 0.178);
              .one {
                display: flex;
                justify-content: space-between;
                gap: 15px;
                width: 100%;
                padding: 0 15px;
              }
            }
          }
          .knows {
            .cadre {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 575px;
              height: 120px;
              border-radius: 10px;
              border: 2px solid #ffffff;
              background: rgba(0, 0, 0, 0.178);
              gap: 15px;
              .one {
                display: flex;
                justify-content: space-between;
                gap: 15px;
                width: 100%;
                padding: 0 15px;

                p {
                  margin: 0;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }
}
