@import "../base/Variables.scss";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  height: 8vh;
  width: 95%; // Utilisation d'un pourcentage pour s'adapter à n'importe quelle taille d'écran
  max-width: 1550px; // Ajout d'une largeur maximale pour éviter une expansion excessive sur de grands écrans
  background-color: $Background_Navbar;
  backdrop-filter: blur(50px);
  border-radius: 20px;

  .separator {
    width: 5px;
    height: 65px;
    border-radius: 500px;
    background-color: $Sepa;
  }
  img.active {
    border-bottom: 3px solid $Text_Day;
  }
}
