@import "../base/Variables.scss";
.Topbar_Container {
  width: 100%;
  height: 25px;
  background-color: $BackGround_TopBar;
  .Topbar{
    display: flex;
    .list{
        display: flex;
        gap: 10px;
    }
}
}
