/*Light Theme*/
$White: #ffffff;
$Hour_Text: #4c196b;
$Text_Day: #605e5e;
$Input_Login: #908c8cad;
$Placeholder_Input_Login: #cccccc;

/*TopBar*/
$Text_TopBar: #000000;
$BackGround_TopBar: #ffffff99;

/*Navbar*/
$Separator: #e8e8e8;
$Background_Navbar: #ffffff57;

/*Safari*/
$Close_Window: #f96057;
$Minimize_Window: #f8ce52;
$FullScreen: #5fcf65;
$Placeholder_Safari: #797979;
$TopBar_Safari_Background: #f5f5f5cc;
$Background_Utils: #f5f5f580;

/*Settings*/
$MAJ: #ff3b30;
$Text_List: #756f6f;
$Rectangle_Background: #d6d1d1;
$Sepa: #00000029;

/*DarkTheme*/
$White: #ffffff;
$Hour_Text1: #9e00ff;
$Text_Day: #605e5e;
$Input_Login: #908c8cad;
$Placeholder_Input_Login: #cccccc;

/*TopBar*/
$Text_TopBar: #ffffff;
$BackGround_TopBar: #57535399;

/*Navbar*/
$Separator: #000000;
$Background_Navbar: #1f1f1f57;

/*Safari*/
$Close_Window: #f96057;
$Minimize_Window: #f8ce52;
$FullScreen: #5fcf65;
$Placeholder_Safari: #797979;
$TopBar_Safari_Background: #1f1f1fcc;
$Background_Utils: #1f1f1f80;

/*Settings*/
$MAJ: #ff3b30;
$Text_List: #ffffff;
$Rectangle_Background: #575353;
$Sepa: #00000029;
