/*Light Theme*/
$White: #FFFFFF;
$Hour_Text: #4C196B;
$Text_Day: #605E5E;
$Input_Login: #908C8CAD;
$Placeholder_Input_Login: #CCCCCC;

/*TopBar*/
$Text_TopBar: #000000;
$BackGround_TopBar: #FFFFFF99;

/*Navbar*/
$Separator: #E8E8E8;
$Background_Navbar: #FFFFFF57;


/*Safari*/
$Close_Window: #F96057;
$Minimize_Window: #F8CE52;
$FullScreen: #5FCF65;
$Placeholder_Safari: #797979;
$TopBar_Safari_Background: #F5F5F5CC;
$Background_Utils: #F5F5F580;

/*Settings*/
$MAJ: #FF3B30;
$Text_List: #756F6F;
$Rectangle_Background: #D6D1D1;
$Sepa: #00000029;


/*DarkTheme*/
$White: #FFFFFF;
$Hour_Text: #9E00FF;
$Text_Day: #605E5E;
$Input_Login: #908C8CAD;
$Placeholder_Input_Login: #CCCCCC;

/*TopBar*/
$Text_TopBar: #FFFFFF;
$BackGround_TopBar: #57535399;

/*Navbar*/
$Separator: #000000;
$Background_Navbar: #1F1F1F57;


/*Safari*/
$Close_Window: #F96057;
$Minimize_Window: #F8CE52;
$FullScreen: #5FCF65;
$Placeholder_Safari: #797979;
$TopBar_Safari_Background: #1F1F1FCC;
$Background_Utils: #1F1F1F80;

/*Settings*/
$MAJ: #FF3B30;
$Text_List: #FFFFFF;
$Rectangle_Background: #575353;
$Sepa: #00000029;