/*Light Theme*/
$White: #ffffff;
$Black: #000000;
$TextBase: rgb(89, 88, 88);
$Hour_Text: #4c196b;
$Text_Day: #605e5e;
$Input_Login: #908c8cad;
$Placeholder_Input_Login: #cccccc;

/*TopBar*/
$Text_TopBar: #000000;
$BackGround_TopBar: #ffffff99;

/*Navbar*/
$Separator: #e8e8e8;
$Background_Navbar: #ffffff57;

/*Safari*/
$Close_Window: #f96057;
$Minimize_Window: #f8ce52;
$FullScreen: #5fcf65;
$Placeholder_Safari: #797979;
$TopBar_Safari_Background: #f5f5f5cc;
$Background_Utils: #f5f5f580;

/*Settings*/
$MAJ: #ff3b30;
$Text_List: #ffffff;
$Rectangle_Background: #d6d1d1;
$WhiteCustom: rgb(255, 255, 255);
$Sepa: #00000029;
$Selected_Item: #007aff;

/*DarkTheme*/
$White: #ffffff;
$Hour_Text_Dark: #9e00ff;
$Text_Day_Dark: #605e5e;
$Input_Login_Dark: #908c8cad;
$Placeholder_Input_Login_Dark: #cccccc;

/*TopBar*/
$Text_TopBar_Dark: #ffffff;
$BackGround_TopBar_Dark: #57535399;

/*Navbar*/
$Separator_Dark: #000000;
$Background_Navbar_Dark: #1f1f1f57;

/*Safari*/
$Close_Window_Dark: #f96057;
$Minimize_Window_Dark: #f8ce52;
$FullScreen_Dark: #5fcf65;
$Placeholder_Safari_Dark: #797979;
$TopBar_Safari_Background_Dark: #1f1f1fcc;
$Background_Utils_Dark: #1f1f1f80;

/*Settings*/
$MAJ_Dark: #ff3b30;
$Text_List_Dark: #ffffff;
$Rectangle_Background_Dark: rgba(87, 83, 83, 0.71);
$Sepa_Dark: #00000029;

$colors: #ffcc00, #66ccff, #99ff99; // Liste de couleurs
