@font-face {
  font-family: SFNSMono;
  src: url("../../fonts/SFNSMono.ttf");
}

@font-face {
  font-family: SFPro;
  src: url("../../fonts/SFPro/SF-Pro-Rounded-Black.otf") format("truetype");
  font-weight: 900;
  font-style: bold;
}

@font-face {
  font-family: SFPro;
  src: url("../../fonts/SFPro/SF-Pro-Rounded-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: SFPro;
  src: url("../../fonts/SFPro/SF-Pro-Rounded-Heavy.otf") format("truetype");
  font-weight: 800;
  font-style: bold;
}

@font-face {
  font-family: SFPro;
  src: url("../../fonts/SFPro/SF-Pro-Rounded-Light.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: SFPro;
  src: url("../../fonts/SFPro/SF-Pro-Rounded-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: SFPro;
  src: url("../../fonts/SFPro/SF-Pro-Rounded-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SFPro;
  src: url("../../fonts/SFPro/SF-Pro-Rounded-Semibold.otf") format("truetype");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: SFPro;
  src: url("../../fonts/SFPro/SF-Pro-Rounded-Thin.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: SFPro;
  src: url("../../fonts/SFPro/SF-Pro-Rounded-Ultralight.otf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
