body {
  background-image: url("../img/wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

@import "./base/Reset.scss";
@import "./base/Variables.scss";

/*Components*/
@import "./Components/Topbar.scss";
@import "./Components/Navbar.scss";

@import "./views/login.scss";
@import "./views/connected.scss";
